{% extends 'base.html' %}

{% block body %}
  <p>I like cheese and details</p>
  <div class="container" style="max-width: 900px;">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <img src="{{ product_link }}/{{ product.id }}.jpg" class="card-img" alt="{{ product.name }}">
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card-body">
          <p>Product Name: {{ product.name }}</p>
          <p>Product Price: {{ product.get_price() }}</p>
          <p>Product Stock: {{ product.stock }}</p>
          <p>Product Details: {{ product.details.description }}</p>
          <p>Product Instructions: {{ product.details.instructions }}</p>
          <a href="/shop/p.{{ product.id }}/add">add to cart</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
