{% extends 'base.html' %}

{% block title %}
Naturally Dressed
{% endblock %}

{% block body %}
  <br>
  <br>
  <h1 class="display-1 text-center" style="color: green;">Naturally Dressed</h1>
  <div class="container" style="max-width: 720px;">
    <div class="row d-flex justify-content-center">
      <br>
      <div class="col">
        <h2 class="text-center">Sustainable Swimwear like Never Before</h2>
        <br>
        <img src="static/icons/beach.png" class="mx-auto d-block" style="width: 50%;" alt="beach">
        <br>
        <p class="text-center">
          Imagine clothing with no environmental impact.
          Naturally Dressed is focused on revolutionizing the sustainable clothing.
        </p>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a role="button" class="btn btn-primary btn-lg" href="/get-access">Get Access</a>
        </div>
      </div>
    </div>
  </div>
  <img src="static/icons/color.png" class="background-logo" alt="color">
{% endblock %}
